<%= render partial: "shared/header_devise" %>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<body>
  <div class="form">

    <h2 class="form-title">編集</h2><br />

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :確認用パスワード %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :ニックネーム %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
    </div>

    <div class="field">
      <%= f.label :性別 %><br />
      <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"genre-select"}) %>
    </div>

    <div class="field">
      <%= f.label :都道府県 %><br />
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"genre-select"}) %>
    </div>

    <div class="field">
      <%= f.label :市区町村 %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "city", placeholder:"例) ○○市" %>
    </div>

    <div class="field">
      <%= f.label :仕事の休み %><br />
      <%= f.collection_select(:holiday_id, Holiday.all, :id, :name, {}, {class:"genre-select"}) %>
    </div>

    <div class="field">
      <%= f.label :入会時期 %><br />
      <%= f.date_field :member_since, autofocus: true, autocomplete: "member_since", placeholder:"例) 2022年10月" %>
    </div>

    <div class="field">
      <%= f.label :経験パート %><br />
      <%= f.text_field :favorite_part, autofocus: true, autocomplete: "favorite_part", placeholder:"注意) リード・コーラス・ベース・ボイパ の表記で記入する(複数回答可)" %>
    </div>

    <div class="field">
      <%= f.label :好きな歌手 %><br />
      <%= f.text_field :favorite_singer, autofocus: true, autocomplete: "favorite_singer" %>
    </div>

    <div class="field">
      <%= f.label :所属グループ %><br />
      <%= f.text_field :group, autofocus: true, autocomplete: "group" %>
    </div>

    <div class="field">
      <%= f.label :他グループへの参加希望 %><br />
      <%= f.collection_select(:more_join_id, MoreJoin.all, :id, :name, {}, {class:"genre-select"}) %>
    </div>
    <br />

  </div>

  <div class="field-btn">
    <%= f.submit "更新", class:"devise-btn" %>
  </div>

</body>

<% end %>
