<%= render partial: "shared/header" %>

<body>

  <div class="form">

    <h1 class="form-title">新規投稿</h1><br />

    <form aciton="">

      <%= form_with model: @activity, local: true do |form| %>

      <table class="form-table">

        <tr class="form-tables">
          <th class="form-item">グループ名</th>
          <td class="form-body"><%= form.text_field :group, class: "form-body" %></td>
        </tr>
        <tr>
          <th class="form-item">活動日</th>
          <td class="form-body"><%= form.date_field :activity_day, class: "form-body" %></td>
        </tr>
        <tr>
          <th class="form-item">練習曲</th>
          <td class="form-body"><%= form.text_field :song, class: "form-body", placeholder: "奏(スキマスイッチ)" %></td>
        </tr>
        <tr>
          <th class="form-item">練習場所</th>
          <td class="form-body"><%= form.text_field :studio, class: "form-body" %></td>
        </tr>
        <tr>
          <th class="form-item">活動記録</th>
          <td class="form-body"><%= form.text_area :text, class: "form-body" %></td>
        </tr>
        <tr>
          <th class="form-item">画像</th>
          <td class="form-body">
            <%= form.file_field :image %>
          </td>
        </tr>
        
      </table>

      <div>
        <%= form.submit "投稿", class: "common-btn" %>
      </div>

    <% end %>

    </form>

  </div>

</body>